html{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    font-weight: 300;
}
.navbar {
	width: 100%;
	height: 50px;
	background-color: #343433;
    
}
.navbar_left{
    float: left;
    height: 100%;
}
.navbar_left p{
    float: right;
    color:#fff;
    font-size: 14px;
    line-height: 50px;
    padding-left: 10px;
}
.navbar_left img{
    padding: 10px 0 0 100px ;
}
.navbar_right{
    float:right;
    padding-right: 80px;
}
.navbar_element{
    line-height:50px;
    color:#fff;
    text-decoration: none;
    padding: 0 25px;
}
.navbar_element:hover{
    color: #0093c6;
}
.image_overlay{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: linear-gradient(to bottom, #aeaeae, #89b0de);
}
.hero_image{
    width: 100%;
    background-image: url(../img/office.jpg);
    
    background-position: 0% 60%;
    background-size: 200%;
    height: 500px;
}

.hero_image_header{
    font-size: 40px;
	font-weight: 300;
    color: #fff;
    padding: 0 10%;
    position: relative;
    bottom:330px;
    text-align: center;
    height: 100%;
    line-height: 60px;
}
.intro_header{
    margin-top: 50px;
    margin-bottom:20px;
    padding: 0 20%;
    text-align: center;
    line-height: 45px;
}
h2{
    font-size: 30px;
    padding-bottom: 50px;
    font-weight: 200;
}
p{
    font-size:20px;
    color: #4a4a4a;
}
.icon{
    font-size:25px;
    
}
.divider{
    border: solid 1px #dcdcdc;
    margin: 20px 0;
}
.who_we_are{
    margin: 0 auto;
}

.header{
    margin-top:50px;
    margin-bottom: 50px;
}
.number{
    border-radius: 100%;
    width: 100px;
	height: 100px;
	background-color: #0093c6;
    line-height: 100px;
    text-align: center;
	font-size: 40px;
    color:#fff;
    margin: 0 auto;
    margin-bottom:10px;
   
}
.number img{
    width: 20px;
    position: relative;
    top: 15px;
}
.subheader{
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    color: #9b9b9b;
}
h1{
    font-size: 30px;
    color: #0093c6;
    text-align: center;
}
.who_we_are_content{
    text-align: center;
    padding: 0 20%;
    line-height: 30px;
}
.who_we_are img{
    width: 90%;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    right: 8%;
    min-width: 500px;
    max-width: 700px;

}
.check_out{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 20px;
}
.check_out p{
    color: #9b9b9b;
    font-weight: 200;
    margin-top: 50px;
    margin-bottom:20px;
}
.check_out a{
    color: #00e56b;
    text-decoration:none;
}

.section_footer_image{
    width: 100%;
    background-image: url(../img/office.jpg);
    background-position: center;
    background-size: 150%;
    height: 500px;
}
.roles{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin-top: 100px;
}
.role{
    width: 300px;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;
}
.role .image{
    height: 80px;
    width: 80px;
    background-color: #000;
    border: 5px solid darkgray;
    border-radius: 100%;
    padding: 10px;
    margin: 0 auto;
}
.image img{
    margin-top: 10px;
}
.title{
    padding-top: 20px;
    font-weight: 900;
    font-size: 15px;
}
.description{
    padding: 0 25px;
    padding-top: 30px;
    line-height: 25px;
}
.quote{
    padding: 50px 100px;
    background-color: #343433;
    text-align: center;
    color: #0093c6;
}
.quote p{
    font-size: 30px;
	font-weight: 300;
    color: #0093c6;
    line-height: 60px;
}
.quote i{
    font-size: 20px;
}
.triangle{
  
    width: 0px;
    height: 0px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 20px solid #343433;
    position: relative;
    top: 70px;
    margin: 0 auto;
}
.portfolio{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    
}
.item{
    width: 50%;
    min-width: 400px;
    height: 300px;
    background-color: #999;
    margin: 0 auto;
}
.item .name{
    line-height: 200px;
    font-size: 40px;
}
.item .descr{
    opacity: 0;
}
.item i{
    opacity: 0;
}
.item.bridge{
    background-image: url(../img/bridge_background.png);
    background-size: 100%;
    transition: ease all 0.5s;
}
.item.bridge:hover{
    background-size:200%;
    transition: ease all 0.5s;
}
.item.bridge:hover .name img{
    width: 110px;
    transition: ease all 1s;
}
.item.bridge .name img{
    width: 120px;
    position: relative;
    top: 80px;
    transition: ease all 1s;
}
.item.cla{
    background-color: #fff;
}
.item.cla .name img{
    width: 120px;
    position: relative;
    top: 85px;
    transition: ease all 1s;
}
.item.cla:hover .name img{
    width: 110px;
    transition: ease all 1s;
}




/*#####  PROJECT SITES   #####*/

.project_header{
    height: 200px;
    background-image: url(../img/bridge_project_bg.png);
    text-align:center;
}
.project_header img{
    width: 70px;
    margin: 0 auto;
    position: relative;
    top: 65px;
}
.project_title{
    margin-top: 80px;
}
.project_descr{
    text-align: center;
    padding: 0 20%;
    margin-top: 50px;
    line-height: 30px;
}