html{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    font-weight: 300;
}
.navbar {
	width: 100%;
	height: 50px;
	background-color: #343433;
}
.navbar_right{
    float:right;
    padding-right: 80px;
}
.navbar_element{
    line-height:50px;
    color:#fff;
    text-decoration: none;
    padding: 0 25px;
}
.navbar_element:hover{
    color: #0093c6;
}
.image_overlay{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: linear-gradient(to bottom, #aeaeae, #89b0de);
}
.hero_image{
   width: 100%;
    background-image: url(../img/office.jpg);
    background-position: center;
    background-size: 150%;
    height: 500px;
}

.hero_image_header{
    font-size: 50px;
	font-weight: 300;
    color: #fff;
    padding: 0 10%;
    position: relative;
    bottom:300px;
    text-align: center;
    height: 100%;
}
.intro_header{
    margin-top: 50px;
    margin-bottom:20px;
    padding: 0 20%;
    text-align: center;
}
h2{
    font-size: 30px;
    padding-bottom: 50px;
    font-weight: 200;
}
p{
    font-size:20px;
    color: #4a4a4a;
}
.icon{
    font-size:25px;
    
}
.divider{
    border: solid 1px #dcdcdc;
    margin: 20px 0;
}
.who_we_are{
    margin: 0 auto;
}
.header{
    margin-top:50px;
    margin-bottom: 100px;
}
.number{
    border-radius: 100%;
    width: 40px;
	height: 40px;
	background-color: #0093c6;
    line-height: 40px;
    text-align: center;
	font-size: 25px;
    color:#fff;
    margin: 0 auto;
    margin-bottom:10px;
}
h1{
    font-size: 30px;
    color: #0093c6;
    text-align: center;
}
.who_we_are_content{
    height: 600px;
    background-color: #dcdcdc;
}
.check_out{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 20px;
}
.check_out p{
    color: #9b9b9b;
    font-weight: 200;
    margin-top: 50px;
    margin-bottom:20px;
}
.check_out a{
    color: #00e56b;
    text-decoration:none;
}

.section_footer_image{
    width: 100%;
    background-image: url(../img/office.jpg);
    background-position: center;
    background-size: 150%;
    height: 500px;
}
.roles{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    
}
.role{
    width: 300px;
    height: 100%;
    margin: auto;
    margin-bottom: 100px;
}
.role img{
    height: 80px;
    width: 80px;
    background-color: #000;
    border: 3px solid darkgray;
    border-radius: 100%;
}
.title{
    padding-top: 20px;
}
.description{
    padding: 0 50px;
    padding-top: 30px;
}