html{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    font-weight: 300;
}
a{
    text-decoration: none;
}
.navbar {
	width: 100%;
	height: 50px;
	background-color: #343433;
    
}
.navbar_left{
    float: left;
    height: 100%;
}
.navbar_left p{
    float: right;
    color:#fff;
    font-size: 14px;
    line-height: 50px;
    padding-left: 10px;
}
.navbar_left img{
    padding: 10px 0 0 10px ;
}
.navbar_right{
    float:right;
    padding-right: 80px;
}
.navbar_element{
    line-height:50px;
    color:#fff;
    text-decoration: none;
    padding: 0 25px;
}
.navbar_element:hover{
    color: #0093c6;
}
.image_overlay{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: linear-gradient(to bottom, #aeaeae, #89b0de);
}
.hero_image{
    width: 100%;
    background-image: url(../img/office.jpg);
    
    background-position: 0% 60%;
    background-size: 200%;
    height: 500px;
}

.hero_image2{
    width: 100%;
    background-image: url(../img/office2.jpg);
    
    background-position: 0% 60%;
    background-size: 200%;
    height: 500px;
}

.hero_image_header{
    font-size: 40px;
	font-weight: 300;
    color: #fff;
    padding: 0 10%;
    position: relative;
    bottom:330px;
    text-align: center;
    height: 100%;
    line-height: 60px;
}
.intro_header{
    margin-top: 50px;
    margin-bottom:20px;
    padding: 0 20%;
    text-align: center;
    line-height: 45px;
}
h2{
    font-size: 30px;
    padding-bottom: 50px;
    font-weight: 200;
}
p{
    font-size:20px;
    color: #4a4a4a;
}
.icon{
    font-size:25px;
    
}
.divider{
    border: solid 1px #dcdcdc;
    margin: 20px 0;
}
.who_we_are{
    margin: 0 auto;
}

.header{
    margin-top:50px;
    margin-bottom: 50px;
}
.number{
    border-radius: 100%;
    width: 100px;
	height: 100px;
	background-color: #0093c6;
    line-height: 100px;
    text-align: center;
	font-size: 40px;
    color:#fff;
    margin: 0 auto;
    margin-bottom:10px;
   
}
.number img{
    width: 20px;
    position: relative;
    top: 15px;
}
.subheader{
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    color: #9b9b9b;
}
.subheader.email{
    margin-top: 100px;
}
.email.btn{
    margin-top:20px;
}
h1{
    font-size: 30px;
    color: #0093c6;
    text-align: center;
}
.who_we_are_content{
    text-align: center;
    padding: 0 20%;
    line-height: 30px;
}
.who_we_are img{
    width: 90%;
    margin-top: 100px;
    position: relative;
    right: 8%;
    min-width: 500px;
    max-width: 700px;

}
.check_out{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 20px;
}
.check_out p{
    color: #9b9b9b;
    font-weight: 200;
    margin-top: 50px;
    margin-bottom:20px;
}
.check_out a{
    color: #00e56b;
    text-decoration:none;
}

.section_footer_image{
    margin-top: 100px;
    width: 100%;
    background-image: url(../img/office.jpg);
    background-position: 0% 60%;
    background-size: 200%;
    background-repeat: no-repeat;
    height: 500px;
}
.roles{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin-top: 100px;
}
.role{
    width: 450px;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;
}
.role .image{
    height: 80px;
    width: 80px;
    background-color: #000;
    border: 5px solid darkgray;
    border-radius: 100%;
    padding: 10px;
    margin: 0 auto;
}
.image img{
    margin-top: 10px;
}
.title{
    padding-top: 20px;
    font-weight: 900;
    font-size: 15px;
}
.description{
    padding: 0 25px;
    padding-top: 30px;
    line-height: 25px;
}
.quote{
    padding: 50px 100px;
    background-color: #343433;
    padding-top: 80px;
    text-align: center;
    color: #fff;
}
.quote p{
    font-size: 30px;
	font-weight: 300;
    color: #fff;
    line-height: 40px;
}
.quote i{
    font-size: 20px;
    color: #0093c6;
    line-height: 40px;
}
.triangle{
  
    width: 0px;
    height: 0px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 20px solid #343433;
    position: relative;
    top: 65px;
    margin: 0 auto;
}
.portfolio{
    display: block;

    display: -webkit-flex; 
    display: flex;         
    
    
    
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    
    text-align: center;
    
}
.item{
    
    width: 50%;
    min-width: 350px;
    height: 300px;

    flex: 1;
    -webkit-flex:1 1 400px;
    background-color: #999;
    margin: 0 auto;
    cursor: pointer;
}
.item .name{
    line-height: 200px;
    font-size: 40px;
}
.item .descr{
    opacity: 0;
    position: relative;
    bottom:0px;
    transition: ease all 0.5s;
    color: #fff;
}


.item.bridge{
    background-image: url(../img/bridge_background.png);
    background-size: 120%;
    transition: ease all 0.5s;
    background-repeat: no-repeat;
}
.item.bridge:hover{
    background-size:200%;
    transition: ease all 0.5s;
}
.item.sirius{
    background-image: url(../img/sirius-bg.png);
    background-size: 200%;
    transition: ease all 0.5s;
    background-repeat: no-repeat;
}
.item.sirius.hover{
    background-size: 300%;
    transition: ease all 0.5s;
}
.item.sirius img{
    margin-bottom: 20px;
}
.item .name img{
    width: 120px;
    position: relative;
    top: 80px;
    transition: ease all 0.5s;
}
.item:hover .name img{
    width: 100px;
    top: 50px;
    transition: ease all 0.5s;
}
.item:hover .descr{
    opacity: 1;
    bottom:30px;
    font-size: 20px;
    color:#fff;
    transition: ease all 0.5s;
}

.item.cla{
    background-color: #fff;
}
.item.cla:hover .descr{
    color: #000;      

}
.item.mailwave{
    background-color: #fff;
    background-image: url(../img/mailwave_project_bg.png);
    background-size: 200%;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: ease all 0.5s;
}
.item.mailwave .descr{
    color: #000;
}
.item.mailwave:hover{
    background-size: 220%;
    transition: ease all 0.5s;
}
.item.tobi{
    background-color: #4a4a4a;
}
.item.tobi .name img{
    width: 150px;
    top: 50px;
}
.item.tobi:hover .name img{
    top: 40px;
}
.item.ppmslight{
    background-color: #313D4D;
}
.item.ppmslight.name img{
    width: 150px;
    top: 50px;
}
.item.ppmslight:hover .name img{
    top: 40px;
}
.item.navigator{
    background-color: #fff;
}
.item.navigator.name img{
    width: 150px;
    top: 50px;
}
.item.navigator:hover .name img{
    top: 40px; 
}
.item.navigator:hover .descr{
    color: #000;       
}
.project_header{
    height: 200px;
    
    text-align:center;
}
.project_header.bridge{
    background-image: url(../img/bridge_project_bg.png);
}
.project_header.cla{
    background-image: url(../img/cla_project_bg.png);
}
.project_header.mailwave{
    background-image: url(../img/mailwave_project_bg.png);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 0 100%;
}
.project_header.tobi{
    background-color:#4a4a4a;
}
.project_header img{
    width: 70px;
    margin: 0 auto;
    position: relative;
    top: 65px;
    
}
.project_title{
    margin-top: 80px;
    padding:0 50px;
}
.project_descr{
    text-align: center;
    padding: 0 20%;
    margin-top: 50px;
    line-height: 30px;
}
.project_image{
    padding: 0 20%;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1000px;
    text-align: center;
}
.project_image img{
     margin: 0 auto;
     width: 100%;
}
.btn{
    padding: 20px 20px;
    margin: 0 auto;
    width: 150px;
    text-align: center;
    border: 1px solid #343433;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: ease all 0.5s;
    -moz-transition: ease all 0.5s;
    transition: ease all 0.5s;
    cursor: pointer;
    margin-top: 50px;
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.1)
}
.btn p{
    font-size: 18px;
}
.btn.blue{
    border-color: #0093c6;
}
.blue p{
    color: #0093c6;
}

/*##### FOOTER #####*/

.footer_container{
    background-color: #343433;
    padding: 20px 0;
    color: #d5d5d5;
    text-align: center;
    margin-top: 100px;
}
.footer_container img{
    width: 30px;
}
.footer_container p{
    color: #d5d5d5;
    font-size: 15px;
    line-height: 20px;
}
.medium_link{
    margin-top: 30px;
    margin-bottom: 20px;
}
.medium_link i{
    color: #fff;
}
.medium_link a{
    text-decoration: none;
    color: #d5d5d5;
}
.medium_link a:hover{
    color: #fff;
}
.footer_copy{
    margin-top: 30px;
}
.offers a .btn{
    width: 400px;
}
@media all and (max-width: 700px) {
    .who_we_are img{
        display: none;
    }
    .hero_image{
        height: 400px;
    }

    .hero_image_header{
        bottom:440px;
        font-size: 30px;
        line-height: 40px;
    }
       .hero_image .hero_image_header{
        bottom:290px;
    }
    .project_descr{
        padding: 0 10px;
    }
    .project_title{
        padding: 0 10px;
    }
}

